<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GrafiskRep - Bestillingsinformation</title>
    <!-- Custom fonts for this theme -->
    <link href="css/fontawesome-free/css/all.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.catalogue.css" rel="stylesheet">
    <link href="css/freelancer.css" rel="stylesheet">
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
        <div class="nav-logo">
            <a href="index">
                <img class="nav-img" src="img/Logo/grafiskreplogoheader.png" alt="">
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" href="/repair_order">Reparation</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" href="/service_amount">Service</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" href="/catalogue">Køb Reservedele</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" href="/about">Om mig</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" href="/contact">Kontakt</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<!--Page Content-->
<div class="page-section container">
    <div class="py-5 text-center">
        <h2>Bestillingsinformation</h2>
    </div>

    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Din kurv</span>
                <span class="badge badge-secondary badge-pill" th:text="${sale.getItems().size()}"></span>
            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-condensed" th:each="MachinePart : ${saleitems}">
                    <div>
                        <h6 class="my-0" th:text="${MachinePart.getName()}">Product name</h6>
                        <small class="text-muted" th:text="${MachinePart.getDesc()}">Brief description</small>
                    </div>
                    <span class="text-muted" th:text="${MachinePart.getPrice()} + DKK"> $12</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total</span>
                    <strong th:text="${sale.getTotalPrice()} + DKK"></strong>
                </li>
            </ul>
        </div>
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Faktureringsadresse</h4>
            <form class="needs-validation" action="/submit-sale" method="post">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label for="firstName">Navn</label>
                        <input type="text" class="form-control" name="name" id="firstName" placeholder="" value="" required>
                        <div class="invalid-feedback">
                            Et navn er påkrævet.
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="cvr">Cvr</label>
                    <input type="text" class="form-control" name="cvr" id="cvr" placeholder="12345678" required>
                    <div class="invalid-feedback">
                        En email adresse er påkrævet.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="you@example.com" required>
                    <div class="invalid-feedback">
                        En email adresse er påkrævet.
                    </div>
                </div>
                
                <div class="mb-3">
                    <label for="phoneNr">Tlf. Nummer</label>
                    <input type="text" class="form-control" name="phoneNr" id="phoneNr" placeholder="12345678" required>
                    <div class="invalid-feedback">
                        En phoneNr adresse er påkrævet.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="address">Adresse</label>
                    <input type="text" class="form-control" name="address" id="address" placeholder="1234 Main St" required>
                    <div class="invalid-feedback">
                        En adresse er påkrævet.
                    </div>
                </div>
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Indsend Bestilling</button>
            </form>
        </div>
    </div>
</div>
<!-- Footer -->
<footer class="footer text-center">
    <div class="container">
        <div class="row">

            <!-- Footer Location -->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Adresse</h4>
                <p class="lead mb-0">Biskop Svanes Vej 29A
                    <br>3460 Birkerød</p>
            </div>

            <!-- Footer Social Icons -->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Sociale netværk</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/groups/2465768773708311/">
                    <i class="fab fa-fw fa-facebook-f"></i>
                </a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/lars-notlev-85b220175/?originalSubdomain=dk">
                    <i class="fab fa-fw fa-linkedin-in"></i>
                </a>
            </div>

            <!-- Footer About Text -->
            <div class="col-lg-4">
                <h4 class="text-uppercase mb-4">Kontakt GrafikRep</h4>
                <p class="lead mb-0">service@GrafikRep.dk</p>
                <p class="lead mb-0">31 38 68 62</p>
            </div>

        </div>
    </div>
</footer>
</body>
</html>