<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GrafiskRep - Faktura</title>
    <!-- Custom fonts for this theme -->
    <link href="css/fontawesome-free/css/all.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.catalogue.css" rel="stylesheet">
    <link href="css/freelancer.css" rel="stylesheet">
    <!-- Setting print area to invoice only with no header and footer -->
    <link href="css/confirmation.css" rel="stylesheet">
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
        <div class="nav-logo">
            <a href="index">
                <img class="nav-img" src="img/Logo/grafiskreplogoheader.png" alt="">
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" href="/repair_order">Reparation</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" href="/service_amount">Service</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" href="/catalogue">Køb Reservedele</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" href="/about">Om mig</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" href="/contact">Kontakt</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Page Content -->
<div class="container page-content" id="section-to-print">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body p-0">
                    <div class="row p-5">
                        <div class="col-md-6">
                            <img src="img/Logo/grafiskreplogo.png" class="card-img">
                        </div>

                        <div class="col-md-6 text-right">
                            <h4>Faktura</h4>
                            <span class="text-muted">Betalingsfrist:</span><p class="text-muted" th:text="${invoice.getPaymentDate().getDayOfMonth()} + ' ' + ${invoice.getPaymentDate().getMonth()} + ' ' + ${invoice.getPaymentDate().getYear()}"></p>
                            <a class="btn btn-outline-light btn-social mx-1" onclick="window.print()">
                                <i class="fab fa-fw fa-print"></i>
                            </a>
                        </div>
                    </div>

                    <hr class="my-5">

                    <div class="row pb-5 p-5">
                        <div class="col-md-6">
                            <p class="font-weight-bold mb-4">Faktureringsoplysninger</p>
                            <p class="mb-1" th:text="${customer.getName()}"></p>
                            <p class="mb-1" th:text="${customer.getCvr()}"></p>
                            <p class="mb-1" th:text="${customer.getAddress()}"></p>
                            <p class="mb-1" th:text="${customer.getEmail()}"></p>
                            <p class="mb-1" th:text="${customer.getPhoneNr()}"></p>
                        </div>

                        <div class="col-md-6 text-right">
                            <p class="font-weight-bold mb-4">Betalingsoplysninger</p>
                            <div class="mb-1"><span class="text-muted">REG NR: </span> <p th:text="${invoice.getRegNr()}"></p></div>
                            <div class="mb-1"><span class="text-muted">KONTO NR: </span> <p th:text="${invoice.getKontoNr()}"></p></div>
                            <div class="mb-1"><span class="text-muted">Payment Type: </span> Bank Overførsel</div>
                        </div>
                    </div>

                    <div class="row p-5">
                        <div class="col-md-12">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="border-0 text-uppercase small font-weight-bold">Ref. Nr.</th>
                                    <th class="border-0 text-uppercase small font-weight-bold">Produkt</th>
                                    <th class="border-0 text-uppercase small font-weight-bold">Pris</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="MachinePart : ${saleitems}">
                                    <td th:text="${MachinePart.getPartNr()}"></td>
                                    <td th:text="${MachinePart.getName()}"></td>
                                    <td th:text="${MachinePart.getPrice()} + DKK"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="d-flex flex-row-reverse bg-dark text-white p-4">
                        <div class="py-3 px-5 text-right">
                            <div class="mb-2">Total</div>
                                <h2 class="font-weight-light"  th:text="${invoice.getSalesInfo().getTotalPrice()} + DKK"></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<footer class="footer text-center">
    <div class="container">
        <div class="row">

            <!-- Footer Location -->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Adresse</h4>
                <p class="lead mb-0">Biskop Svanes Vej 29A
                    <br>3460 Birkerød</p>
            </div>

            <!-- Footer Social Icons -->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Sociale netværk</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/groups/2465768773708311/">
                    <i class="fab fa-fw fa-facebook-f"></i>
                </a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/lars-notlev-85b220175/?originalSubdomain=dk">
                    <i class="fab fa-fw fa-linkedin-in"></i>
                </a>
            </div>

            <!-- Footer About Text -->
            <div class="col-lg-4">
                <h4 class="text-uppercase mb-4">Kontakt GrafiskRep</h4>
                <p class="lead mb-0">service@GrafiskRep.dk</p>
                <p class="lead mb-0">31 38 68 62</p>
            </div>

        </div>
    </div>
</footer>
</body>
</html>